<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <title>Mini Webpack Testbed</title>
    <style media="screen">
      .tb-hidden {
        display: none;
      }
    </style>
  </head>

  <body class="tb tb-hidden">
    <h1 class="tb-intro-item"><%- introduction %></h1>

    <div id="root">
      <!--  Your code here -->
    </div>

    <footer class="tb-footer">
      Created with <a href="https://www.npmjs.com/package/generator-webpack-mini">Yeoman generator webpack-mini</a>
    </footer>
  </body>

</html>
